@greeting[]
Последние новости

@body_additional[]
<a href='add_new.html'>Добавить новость</a>

@body_main[]
<b><h1>Последние новости</h1></b>

^connect[$connect_string]{
   $news[^table::sql{select
       date, header, body, id
   from
      news 
   }]
   ^if($news){
      ^news.menu{
        <div class="card">
                <div class="card-header">$news.header</div>
                <div class="card-body">
                    <div>^untaint{$news.body}</div>
                    <div>
                    	<a class="card-link" href='/new.html?id=$news.id'>Смотреть</a> 
                    	<a class="card-link" href='/admin/edit_new.html?id=$news.id'>Редактировать</a>
                    	<a class="card-link" href='/admin/delete_new.html?id=$news.id'>Удалить</a></div>
                </div>
        </div>
      }
   }
}