@greeting[]
Новость

@body_additional[]
Новость

@body_main[]
^connect[$connect_string]{
   $new[^table::sql{select
       date, header, body 
   from
      news 
   where
      id=$form:id
   }]
   ^if($new){
      ^new.menu{
      	<b><h1>$new.header</h1></b>
        <div><b>$new.date</b></div>
        <div>^untaint{$new.body}</div>
      }[<br />]
   }
}