@greeting[]
Последние новости

@body_additional[]
Последние новости

@body_main[]
<b><h1>Последние новости</h1></b>

^connect[$connect_string]{
   $news[^table::sql{select
       date, header, body, id
   from
      news 
   }]
   ^if($news){
      ^news.menu{
         <div><b>$news.date - $news.header</b></div>
         <div>^untaint{$news.body}</div>
         <div><a href='/new.html?id=$news.id'>Смотреть</a></div>
      }[<br />]
   }
}