.column_left {
    text-align: center;
    background-color: aliceblue;
    padding-top: 20px;
}

.form {
    margin-top: 30px;
}

.card {
    margin-bottom: 20px;
}

.main_wrapper {
    min-height: calc(100vh - 70px);
}

.footer {
    height: 50px;
    background-color: aliceblue;
}

table {
    text-align: center;
}

table th, table td {
    padding: 10px;
}